
  <body>

    <!-- <h1 class="title"> All Contacts </h1> -->

    <ul>
      <div class="contact-count">
        <li>There are <span><%=Contact.all.length%> </span> contacts</li>
      </div>
      <% Contact.all.each do |contact| %>
      <div class="contact-list">
        <li><a class="name-link" href="/contacts/<%=contact.id%>"><%= contact.first_name %> <%=contact.last_name %></a> <span>(<%=contact.email%>)<span></li>
        <li><a href="/contacts/<%=contact.id%>/edit">Edit</a> | <a href="/contacts ">Delete</a> </li>
      </div>
      <% end %>
    </ul>

    <!-- <a href="/contacts/new"> Create a new contact </a> <br>
    <a href="/"> Main Menu</a> -->
  </body>
